-var title = 'Заголовок для сайта меняется тут'
-var description = 'Описание для сайта меняется тут.'

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
link(rel="icon" href="/favicon.ico" type="image/x-icon")

title=title
meta(name="description" content=description)

meta(property="og:site_name" content=title)
meta(property="og:locale" content="ru_RU")
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:type" content="/")
